.cart {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-left: 1px solid black;
  height: 100vh;
  width: min(100%, 300px);
  padding: 0 16px;
  overflow-y: auto;
}

.cart .header {
  display: flex;
  justify-content: space-between;
}

.cart .header button {
  border: none;
  background: none;
  line-height: 0;
  transition: transform 200ms ease-in-out;
}

.cart .header button:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.cart ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cart .item-img img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart .item-details {
  flex: 1;
}

.cart .item-title {
  font-weight: bold;
  margin-bottom: 0;
}

.cart .price {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
}

.cart .total-price {
  text-align: right;
}

.cart .buttons {
  display: flex;
}

.cart .buttons button {
  flex: 1;
  padding: 8px;
  background-color: white;
  border: 1px solid black;
}

.cart .buttons button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
